<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<Communication mode="Net">
		<Uart baud="115200" id="6"/>
	</Communication>
	<Delayms>500</Delayms>
	<SNLen>19</SNLen>
	<ExitFacCmd enable="False"></ExitFacCmd>
	<Model enable="True">X450N</Model>
	<SysVer enable="True">MSD938_5.9.055S_0301</SysVer>
	<FlashInfo enable="True">16G</FlashInfo>
	<HWVer enable="True">H5000</HWVer>
	<Dimension enable="True">2D</Dimension>
	<Channel enable="True">LETV</Channel>
	<RemoteVer enable="False">LETV-D-D151009_V01</RemoteVer>
	<Panel enable="True">0x002A</Panel>
	<Carrier enable="True">CIBN</Carrier>
	<PartitionVer enable="True">3G</PartitionVer>
	<Resolution enable="True">2K</Resolution>
	<Area enable="True">CN</Area>
	<HDCP enable="True"></HDCP>
	<MAC enable="True"></MAC>
	<DeviceKey enable="True"></DeviceKey>
	<WidevienKey enable="True"></WidevienKey>
	<PlayreadyKey enable="False"></PlayreadyKey>
</Settings>
